.header {
    display: flex;
    flex-direction: column;
    background-color: #1D2937;
    padding: 0 18rem;
}

.logo-container{
    display: flex;
    align-items: center;
}

ul {
    margin-left: auto;
    display: flex;
    list-style-type: none;
    padding: 18px;
    gap: 38px;
}

img {
    padding: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

#logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.text-img-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.text-button-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap;
    width: 400px;
}

#bold-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

#second-text {
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    background-color: #3882f6;
    padding: 4px 14px;
    width: 120px;
    color: white;
    font-size: 20px;
    border-style: groove;
    border-radius: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 22rem;
    flex: 0 1 auto;
}

.info-header {
    padding: 4rem 6rem;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info-box {
    display: flex;
    gap: 4rem;
    width: 140px;
    margin-bottom: 8rem;

.img-des-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap;
    
}

.image { 
    border-radius: 12px;
    padding: 0;
}

.text {
    font-size: 18px;
    color: #46474b;
    text-align: center;
    text-align-last: center;
}